body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h3 {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

form button {
  padding: 10px;
  background-color: #1db954;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

form button:hover {
  background-color: #1ed760;
}
